<div class="form-group">
  <h2>Nouveau post</h2>
  <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" class="form-control" id="title" formControlName="title">
    </div>
    <div class="form-group">
      <label for="content">Contenu</label>
      <textarea rows="4" class="form-control" id="content" formControlName="content"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" [disabled]="postForm.invalid">Ajouter</button>
    </div>
  </form>
</div>
