<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts <= 0}">
                
  <div class="list-group">
    <span class="pull-right" style="color: dimgray;">{{ post.createdAt | date: "short" }}</span>
    <h3>{{ post.title }}</h3>
  </div>
  <p> {{ post.content }}</p>
  <button class="btn btn-success" (click)="onLoveIts()">Love it</button>
  <button class="btn btn-danger" [disabled]="post.loveIts <= 0" (click)="onDontLoveIts()">Don't love it</button>
  <button class="btn btn-danger" (click)="onRemove()">Supprimer</button>
</li>
