
<div class="row">
  <div class="col-sm-12">
    <h2>Posts</h2>
    <ul class="list-group">
      <app-post-list-item *ngFor="let p of posts" [post]="p"></app-post-list-item>
    </ul>
    <button class="btn btn-primary" (click)="onRefreshFromServer()">
      <span class="glyphicon glyphicon-refresh"></span> Actualiser
    </button>
    <button class="btn btn-danger" (click)="onRemoveAllOnServer()" *ngIf="posts.length!=0">
      <span class="glyphicon glyphicon-remove"></span> Tout Supprimer
    </button>
  </div>
</div>
